<div>
  <header class="h-16 px-4 border-b border-gray-300 dark:border-gray-600 shadow-md flex items-center justify-between">

    <div>
      <span class="text-2xl font-medium">Berichtshelf</span>
    </div>

    <div>
      <span>Hallo {{ user.first_name }}</span>
    </div>

  </header>

  <main class="px-4 mt-8">
    <table class="w-full">
      <thead>
        <tr>
          <th>Nr</th>
          <th>Thema</th>
          <th>Datum</th>
          <th>Dauer</th>
        </tr>
      </thead>
      <tbody>
        {{#each entries}}
        <tr>
          <td>{{ nr }}</td>
          <td>{{ topic }}</td>
          <td>{{ day }}</td>
          <td>{{ duration }}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </main>
</div>
